body{
  font-family: 'Rubik Moonrocks';
  font-weight: 400;
  background-color: #A1A1A1;
}

body2{
  font-family: 'Rubik Moonrocks';
  font-weight: 400;
  background-color: #FFFFFF;
}

header{
  padding: 20px;
  background-color: #A1A1A1;
  height: 80px;
}

header h1{
  font-weight: 800;
  margin: 0;
}
header h2{
  front-weight: 400;
  font-size: 60px;
}
header nav{
  font-family: 'Roboto';
  display: flex;
  justify-content: flex-end;
}
header p {
  padding: 20px;
  margin: 0;
}

.jumbotron {
  font-family: 'League Gothic';
  display: flex;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1744&q=80");
  background-size: cover;
  color: #A1A1A1;
  height: 66.5vh;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-family: 'Roboto';
  font-weight: 700;
  margin: 0;
  color: #A1A1A1;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #000000;
  background-color: #A1A1A1;
  text-shadow: none;
}

.btn.btn-primary:hover {
  color: #000000;
  background-color: #A1A1A1;
}

.btn-secondary {
  background-color: #A1A1A1;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

